<div class="navbar"> 
   <img routerLink="/"src="assets\webshio.png" >
  <div routerLink="cart" class="cart-button">
    <img src="assets\shopping-cart.svg" >
   <span>0.00€</span>  
  </div>

  
</div>
<div class="content"> 
      <router-outlet></router-outlet>
      <!-- <h1>See on Mari 
      veebipood</h1>
      <h2>Projekti raames tehtud</h2>
      <h3>Tekst läheb </h3>
      <p>Puhas Tekst</p>
      <h4>Veel üks suurus</h4>
      <button>VAJUTA NUPPU</button>
      <a href="http://www.google.com" target="blank">MINE GOOGLE LEHELE</a>
      <div routerLink="cart" >Mine teisele lehele</div> -->
  </div>

<div class="footer">FOOTER</div>