<!-- {{ kuupaev | date }} -->

<div *ngFor="let item of items | uniqueCategory">
  {{ item }}
</div>

<div class="filter-bar">
<div class="filter-name">{{'Järjesta:' | titlecase | uppercase }}></div>
<div class="filter-value price" (click)="onSortTitle()">{{'Tähestiku järgi' | translate}}></div>
<div class="filter-value title" (click)="onSortPrice()">Hinna järgi</div>
</div>

<div class="items-wrapper">
<div class="item" *ngFor="let item of items; let i = index">
  <img routerLink="view/{{i}}" src="{{ item.imgSrc }}">
  <div class="add-to-cart-button-wrapper">
   <div class="add-to-cart-but"></div>
   <span (click)="onRemoveFromCart(item)">-</span>
    <span>______</span>
    <span (click)="onAddToCart(item)">+</span>
    <div> 
  <div> 
<div class="item-title">{{ item.title | translate | shortenTitle:3 }}</div>
<div class="item-price">{{ item.price | thousandSeparator }} €</div></div>
</div>
